{%- style -%}
     {% if template == 'product' and section.settings.enable_product_page  %}
       .breadcrumbs{
         display: block;
       }
       {% else %}
       .breadcrumbs{
         display: none;
       }
     {% endif %}

    {% if section.settings.enable_complete_site %}
      .breadcrumbs{
        display: block;
      }
      {% endif %}

    {% if template == 'collection' and section.settings.enable_collection_page  %}
       .breadcrumbs{
         display: block;
       }
     {% endif %}


         :root  {
           --svg_fill: {{ section.settings.breadcrumb_text_color}}
           ;
         }

         .home-icon-container {
           display: inline-block;
           margin-right: 4px;
           vertical-align: sub;
         }

         .breadcrumbs {
           padding: 1rem 5rem;
           color: {{ section.settings.breadcrumb_text_color }}
           ;
           background-color: {{ section.settings.breadcrumb_bg_color }}
         }

         .breadcrumbs li {
           display: inline-block;
         }

         .breadcrumbs a {
           text-decoration: none;
           /*Will put liquid customization here*/
           font-size: 15px;
           color: inherit;
         }


       {%- if section.settings.breadcrumb_accent_color_bool -%}
           .breadcrumbs a:last-of-type {
             color: {{ section.settings.breadcrumb_accent_color }}
              !important;
           }
         {%- endif -%}


         .breadcrumb-delimeter:not(:last-child):after {
           {%- case section.settings.breadcrumb_delimeter -%}
             {%- when "angle_right" -%}
             content: "›";
             font-size: 18px;
             {%- when "slash" -%}
             content: "/";
             font-size: 16px;
             {%- when "arrow_right" -%}
             content: "➤";
             font-size: 15px;
             {%- when "squiggle_arrow" -%}
             content: "\27FF";
             font-size: 25px;
             {%- when "right_long" -%}
             content: "\279E";
             font-size: 18px;
             transform: translateY(5%);
             {%- when "double_right" -%}
             content: "\00BB";
             font-size: 20px;
             {%- when "diamond_arrow_head" -%}
             content: "⤞";
             font-size: 25px;
             transform: translateY(5%);
             {%- when "heavy_angle_right" -%}
             content: "\276F";
             font-size: 18px;
             transform: translateY(5%);
           {%- else -%}

           {%- endcase -%}
           display: inline-block;
           margin-left: 0.75rem;
           margin-right: 0.50rem;
           speak: none;
         }

         .breadcrumbs [aria-current="page"] {
           color: inherit;
           font-weight: normal;
           text-decoration: none;
         }
    .breadcrumbss {
    display: inline-block; /* Restricts border to content width */
    padding: 1rem; /* Adjust padding if needed */
    color: {{ section.settings.breadcrumb_text_color }};
    background-color: {{ section.settings.breadcrumb_bg_color }};
    border: 1px solid #000; /* Your desired border */
    border-radius: 5px; /* Optional rounded corners */
  }
{%- endstyle -%}

<div class="page-width breadcrumbs" aria-label="breadcrumbs">
  <div class="breadcrumbss">
    {%- unless template == 'index' or template == 'cart' -%}
      {%- if section.settings.breadcrumbs_home_icon_bool -%}
        <div class="home-icon-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-house-door-fill"
            viewBox="0 0 16 16"
          >
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
          </svg>
        </div>
      {%- endif -%}

      <a href="/" title="Home">Home</a>

      {%- if template == 'product' -%}
        {%- assign primary_collection = product.collections | first -%}

        {%- if primary_collection -%}
          <span class="breadcrumb-delimeter" aria-hidden="true"></span>
          <a href="{{ primary_collection.url }}">{{ primary_collection.title }}</a>
        {%- endif -%}

        <span class="breadcrumb-delimeter" aria-hidden="true"></span>
        <a href="{{ product.url }}">{{ product.title }}</a>

      {%- elsif template == 'collection' -%}
        <span class="breadcrumb-delimeter" aria-hidden="true"></span>
        <a href="{{ collection.url }}">{{ collection.title }}</a>
      {%- endif -%}
    {%- endunless -%}
  </div>
</div>

<script defer>
  const breadCrumbLinks = document.querySelectorAll(".breadcrumbs a")
  const lastLink = breadCrumbLinks[breadCrumbLinks.length - 1]
                lastLink.href = "javascript:void(0)"
</script>

{% schema %}
{
  "name": "Breadcrumb Navigation",
  "settings": [

    {
      "type": "checkbox",
      "id": "breadcrumbs_home_icon_bool",
      "label": "Use the home icon next to the Home link in the breadcrumb",
      "default": true
    },
    {
      "type": "select",
      "id": "breadcrumb_delimeter",
      "label": "Breadcrumb Delimeter Icon",
      "options": [
        {
          "value": "angle_right",
          "label": "Angle Right"
        },
        {
          "value": "slash",
          "label": "Slash"
        },
        {
          "value": "arrow_right",
          "label": "Arrow Right"
        },
        {
          "value": "squiggle_arrow",
          "label": "Squiggle Arrow"
        }, {
          "value": "right_long",
          "label": "Right Long"
        }, {
          "value": "double_right",
          "label": "Double Right"
        }, {
          "value": "diamond_arrow_head",
          "label": "Diamond Arrow Head"
        }, {
          "value": "heavy_angle_right",
          "label": "Heavy Angle Right"
        }
      ],
      "default": "angle_right"
    },
    {
      "type": "color",
      "id": "breadcrumb_bg_color",
      "label": "Background Color",
      "default": "#fff"
    }, {
      "type": "color",
      "id": "breadcrumb_text_color",
      "label": "Breadcrumb Color",
      "default": "#465076"
    },
  {
        "type": "checkbox",
        "id": "breadcrumb_accent_color_bool",
        "label": "Enable visited page color link in breadcrumb",
        "default": false
      }, {
        "type": "color",
        "id": "breadcrumb_accent_color",
        "label": "Visited Page Link Color",
        "default": "#4770db"
      },
  {
    "type":"checkbox",
    "id":"enable_product_page",
    "label":"Enable in Product Page"
  },
    {
    "type":"checkbox",
    "id":"enable_collection_page",
    "label":"Enable in Collection Page"
  },
     {
    "type":"checkbox",
    "id":"enable_complete_site",
    "label":"Enable on Complete Website",
    "default": true
  }
  ],
  "presets": [
    {
      "name": "Breadcrumb Navigation"
    }
  ]
}
{% endschema %}
